{
  "swagger" : "2.0",
  "info" : {
    "title" : "Swagger Customer",
    "version" : "0.0.1"
  },
  "basePath" : "/5JeA90",
  "paths" : {
    "/Customer" : {
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create a new instance of the model and persist it into the data source.",
        "operationId" : "Customer.create",
        "parameters" : [ {
          "name" : "data",
          "in" : "body",
          "description" : "Model instance data",
          "required" : false,
          "schema" : {
            "description" : "Model instance data",
            "$ref" : "#/definitions/Customer"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Request was successful",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/Customer/{id}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Find a model instance by {{id}} from the data source.",
        "operationId" : "Customer.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Model id",
          "required" : true,
          "type" : "string",
          "format" : "JSON"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request was successful",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Customer" ],
        "summary" : "Replace an existing model instance or insert a new one",
        "operationId" : "Customer.prototype.updateAttributes",
        "parameters" : [ {
          "name" : "data",
          "in" : "body",
          "description" : "An object of model property name/value pairs",
          "required" : false,
          "schema" : {
            "description" : "An object of model property name/value pairs",
            "$ref" : "#/definitions/Customer"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Customer id",
          "required" : true,
          "type" : "string",
          "format" : "JSON"
        } ],
        "responses" : {
          "200" : {
            "description" : "Request was successful",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          },
          "201" : {
            "description" : "Request was successful",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    }
  },
  "tags" : [ {
    "name" : "Customer"
  } ],
  "host" : "apis-4.appconnect.ibmcloud.com",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json", "application/x-www-form-urlencoded", "application/xml", "text/xml" ],
  "produces" : [ "application/json", "application/xml", "text/xml", "application/javascript", "text/javascript" ],
  "definitions" : {
    "Customer" : {
      "properties" : {
        "CustomerID" : {
          "type" : "string"
        },
        "FirstName" : {
          "type" : "string"
        },
        "LastName" : {
          "type" : "string"
        },
        "Email" : {
          "type" : "string"
        }
      },
      "required" : [ "CustomerID" ],
      "additionalProperties" : false
    },
    "x-any" : {
      "properties" : { }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  }
}